 body {
    background-color: rgb(180, 179, 179);
} 

#game-board {
    display:flex;
    justify-content: space-between;
    width: 1000px;
    font-size: 50px;
    align-items:stretch;
    padding: var(--spacer);
    background-attachment: fixed;
    margin: auto;
}

#player-container {
    display: flex;
    flex-direction: column;
    --spacer: 2rem;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#computer-container {
    display: flex;
    flex-direction: column;
    --spacer: 2rem;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#results-container {
font-size: 28px;
width: 1000px;
text-align: center;
margin:auto;
color: red;
font-weight: 700;
}

#running-tally {
    margin: auto;
    font-size: 16px;
    width:1000px;
    text-align: center;
}
#rock {
    height : 200px;
    width : 200px;
    border-width: 5px;
}
#paper {
    height : 200px;
    width : 200px;
    border-width: 5px;
}
#scissors {
    height : 200px;
    width : 200px;
    border-width: 5px;
}
