#game-board {
    display:flex;
    justify-content: space-between;
    width: 1000px;
    font-size: 50px;
    align-items:stretch;
    padding: var(--spacer);
}

#player-container {
    display: flex;
    flex-direction: column;
    --spacer: 2rem;
    margin: auto;
}

#computer-container {
    display: flex;
    flex-direction: column;
}

#results-container {
font-size: 20px;
width: 800px;
text-align: center;
}

#running-tally {
    font-size: 16px;
    width:800px;
    text-align: center;
}
#rock {
    height : 200px;
    width : 200px;
    border-width: 5px;
}
#paper {
    height : 200px;
    width : 200px;
    border-width: 5px;
}
#scissors {
    height : 200px;
    width : 200px;
    border-width: 5px;
}
